@import "../../../styles/mixins";

.main-wrapper {
  margin-top: 5%;
  padding: 1rem;
  display: grid;
  grid-template-rows: 10% 90%;
  margin-bottom: 50px;

  &__header {
    border-bottom: 1px solid green;

    align-self: center;
    font-weight: bold;

    .add-list-button {
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }
    span {
      font-size: 20px;
    }
  }

  .list-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 40px;
    row-gap: 50px;

    @include mq("tablet", max) {
      justify-content: center;
    }
  }
}
