.card-wrapper {
  width: 265px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2%;
  border-radius: 10px;

  .link {
    text-decoration: none;
    color: black;
  }

  &__header {
    text-transform: uppercase;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
