@import "../../../styles/mixins";

.toplist {
  color: white;
  @include flex(row, space-around);
  column-gap: 10px;
  padding: 5px 5px 5px 5px;

  &__item {
    padding: 5px 5px 5px 5px;
    border: 1px solid gray;
    border-radius: 0.2rem;
    width: 170px;
    height: 60px;

    @include flex(column, center);

    .item-container {
      font-weight: bold;
      border-radius: 5px;
      display: grid;
      grid-template-columns: repeat(2, 45%);
      column-gap: 5px;

      .issuetype,
      .percent-change {
        justify-self: end;
        text-align: right;
      }

      .percent-change {
        align-self: center;
      }
    }
  }
}
