@import "../../../styles/mixins";

.dashboard-wrapper {
  margin-top: 7%;
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: start;

  @include mq("tablet-wide", max) {
    grid-template-columns: 40% 60%;
  }

  @include mq("phone-wide", max) {
    align-items: unset;
    grid-template-columns: unset;
    grid-template-rows: 10% 90%;
    gap: 13%;
  }

  .sidebar {
    position: sticky;
    top: 17%;
    height: min-content !important;
    z-index: 1;
    padding: 1rem;
    border-radius: 5px;

    @include mq("tablet-wide", max) {
      top: 10%;
    }

    @include mq("phone-wide", max) {
      position: static;
      top: unset;
      z-index: unset;
      height: min-content !important;
      padding-bottom: 0;
      margin: 40px 20px 0 20px;
      border-radius: 5px;
      box-shadow: -3px 3px 10px 3px #c3c3c3;
    }
  }

  .page-content-wrapper {
    padding: 20px;
    @include flex(column);

    .main-content {
      padding-top: 20px;
      border-radius: 5px;
      box-shadow: -3px 3px 10px 3px #c3c3c3;
    }
  }
}
