@import "../../../styles/mixins";

.dashboard-wrapper {
  margin-top: 6.5%;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: stretch;
}

.sidebar-wrapper {
  min-height: 87vh !important;
  padding: 1rem;
  background: forestgreen;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#page-content-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
