@import "../../../styles/mixins";

.dashboard-wrapper {
  margin-top: 6.5%;
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: start;

  @include mq("tablet-edge", max) {
    grid-template-columns: 40% 60%;
  }

  .sidebar-wrapper {
    position: sticky;
    top: 13.2%;
    height: 86.6vh !important;
    z-index: 1;
    padding: 1rem;
    background: forestgreen;
  }

  .page-content-wrapper {
    padding: 20px;
    @include flex(column);

    .main-content {
      padding-top: 20px;
      border-radius: 5px;
      box-shadow: -3px 3px 10px 3px #c3c3c3;
    }
  }
}
