@import "../../styles/mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.ternary {
  border: 2px solid #0073cf;
  border-radius: 5px;
  background-color: white;
  color: #0073cf;
  transition: all 0.2s ease-in;

  padding: 0.4em 0.7em;
  margin-inline: 0.5rem;

  &:hover {
    background-color: #0073cf;
    color: white;
  }
}

.danger {
  @include btn_animation(red, white);
}

.info {
  @include btn_animation(#0073cf, white);
}

.success {
  @include btn_animation(#4cbb17, white);
}

.nav-button {
  @include btn_animation(white, black);
}
