nav {
    background-color: #00276c!important;
}

.profile-wrapper {
    padding: 0.5rem;
    max-width: 100%;
}

.profile-data {
    margin: 2rem 2rem 2rem 2rem;
}

.trades-watchlists {
    margin: 2rem 0.2rem 2rem 1rem;
}